h1
{
color: #c7182a;
font-size: 3em;
}

p{
color: #a93c0c;
font-size: 1em;
font-style: verdana;
}

h2
{
color: black;
font-size: 1em;
}


.c1 
{
	color: darkred;
}

.c2 
{
	color: darkgreen;
}